---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ProjectsCard from "~/components/projects-card.astro";

const featuredSites = await getCollection(
  "project",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Projects" id="Projects">
  <Fragment slot="lead">
    My projects embody <span class="text-primary">
      creativity</span>.{" "} and technical prowess, delivering
    <span class="text-primary">impactful solutions</span>{" "}
    to diverse challenges .
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site) => <ProjectsCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="/">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
